@charset "UTF-8";

header{
	margin: 0 auto;
	text-align: center;
	
	
}
main{
	font-family: monospace;
	
	
}
#descr{
	float: left;
	margin: 30px;
	width: 50%;
	/*background: #f0f0ca;*/
	left: 9vw;
	position: absolute;
}

#menulateral{
	width: 20%;
	float: right;
	margin: 30px;
	left: 62vw;
	position: absolute;
	text-align: center;
	/*background: #f0f0ca*/
}


a.linklateral:link {
color:#999999;
text-decoration:none;
}
a.linklateral:visited {
color:#000000;
text-decoration:none;
}
a.linklateral:hover {
color:#000000;
text-decoration:underline;
}
a.linklateral:active {
color:#00FF00;
text-decoration:underline;
background-color:#000000;
}



