@charset "UTF-8";

body{
	width:100%;
	background: url(entulho.png);
	color: #ffffff;
	font-size: small;
    font-family: Verdana, Geneva, Arial, sans-;
	margin: 0 auto;
		
}

header{
	text-align: center;
	
}

form{
	/*margin: 0 auto;*/
	margin: 100px;
	text-align: center;
	
    
}

img{
	
	width: 300px;
	height:300px;
	
}
	
	 


.prateleiras div{
	display: inline-block;
	
	 
}

.prateleiras div div{
	background: #000;
	
}

.prateleiras h3{
	
	 
/*margin: 0 auto;*/
width:260px; /* Largura total - Se você omitir ocupará toda a linha */
font: 25px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
color: #000; /* Cor da fonte */
background: #FFF; 
/*Ver Nota*/

padding-left:35px; /* Espaçamento do texto a esquerda */
	
}




#email{
	padding:0px;
	margin:10px;

}



.luxo {
	
	padding: 40px;
	width: 300px; 
	height: 600px;
	
}

#senha{
	padding:0px;
	margin:10px;
	
	
	
}

#botao{
	padding:0px;
	margin:10px;
	text-align: center;
	
	
}

