@charset "UTF-8";
body{
	width: vh;
	background: url(A1.gif);
	
}
#grade{
	
	text-align: center;
}

iframe:hover{
	opacity: 1.0;
	
}

iframe{
	width: 400px;
	height: 400px;
	 opacity: 0.3;
	
	border: 0px;
	
	
}